include makefile READ.rst INSTALLATION.txt COPYING MANIFEST.in CHANGES.txt LICENSE.txt
include setup.py setup.cfg pyproject.toml src/qcdevol/*.py  
include readthedocs.yml
graft doc/html
graft tests 
recursive-exclude tests/__pycache__ *
recursive-exclude doc/_build *
exclude src/*.egg-info
exclude build
exclude tests/*.pyc